{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
    @font-face {
      font-family: 'Aquire';
      src: url('{% static 'fonts/aquire-font/Aquire-BW0ox.otf' %}');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'Aquire';
      src: url('{% static 'fonts/aquire-font/AquireBold-8Ma60.otf' %}');
      font-weight: bold;
      font-style: normal;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>{% block title %}{% endblock %}L'odyssée d'HAUMère</title>
    {% block extra_head %}{% endblock %}

    <script type="module">
	function sortTable(table, n) {
		let rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		switching = true;
		// Set the sorting direction to ascending:
		dir = "asc";
		/* Make a loop that will continue until no switching has been done: */
		while (switching) {
			// Start by saying: no switching is done:
			switching = false;
			rows = table.rows;
			/* Loop through all table rows (except the
			first, which contains table headers): */
			for (i = 1; i < (rows.length - 1); i++) {
				// Start by saying there should be no switching:
				shouldSwitch = false;
				/* Get the two elements you want to compare,
				one from current row and one from the next: */
				x = rows[i].getElementsByTagName("td")[n];
				y = rows[i + 1].getElementsByTagName("td")[n];
				/* Check if the two rows should switch place,
				based on the direction, asc or desc: */
				if (dir == "asc") {
					if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
						  // If so, mark as a switch and break the loop:
						  shouldSwitch = true;
						  break;
					}
				} else if (dir == "desc") {
					if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
						  // If so, mark as a switch and break the loop:
						  shouldSwitch = true;
						  break;
					}
				}
			}
			if (shouldSwitch) {
				/* If a switch has been marked, make the switch
				and mark that a switch has been done: */
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
				// Each time a switch is done, increase this count by 1:
				switchcount ++;
			} else {
				/* If no switching has been done AND the direction is "asc",
				set the direction to "desc" and run the while loop again. */
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				}
			}
		}
	}
	const tables = document.querySelectorAll("table");
	for (const t of tables) {
		const ths = t.querySelectorAll("th");
		let i = 0;
		for (const th of ths) {
			th.dataset.i = i;
			th.onclick = e => {
				sortTable(t, th.dataset.i);
			}
			i += 1;
		}
	}
    </script>
  </head>
  <body>
    {% block body %}
    <header>
    <h1><a href={% url 'index'%}>L'odyssée d'HAUMère</a></h1>
    </header>

    <div id=menu>
      <ul>
        <li><a href='{% url 'index' %}'>Leaderboard</a></li>
        <li><a href='{% url 'games_list' %}'>Games</a></li>
        <li><a href='{% url 'maps_list' %}'>Maps</a></li>
        <li><a href='/doc/'>RTFM !</a></li>
      </ul>
    </div>

    <section id=content>
    {% block content %}{% endblock %}
    </section>
    <footer>Beerware 2024 &mdash; Codé avec Amour et Vim par le <href='://haum.org'>HAUM</a></footer>
    {% endblock %}
  </body>
</html>

