{% extends 'base.html' %}

{% block content %}
<ul>
    <li><a href='{% url 'games_list' %}'>Games</a></li>
    <li><a href='{% url 'maps_list' %}'>Maps</a></li>
</ul>

 <table id=leaderboard>
  <tr>
    <th></th>
    <th>Parties jouées</th>
    <th>Score "Joueur"</th>
    <th>Score "Jeu"</th>
    <th>Score Général</th>
  </tr>
{% for t in teams %}
  <tr>
    <td><a href='{% url 'team' t.user.id %}'>{{t.user.username}}</a></td>
    <td>{{t.games_played}}</td>
    <td>{{t.score_player}}</td>
    <td>{{t.score_game}}</td>
    <td>{{t.score_full}}</td>
  </tr>
{% empty %}
<tr>No teams...</tr>
{% endfor %}
</table>
{% endblock %}
