{% extends 'base.html' %}

{% block content %}
<h1>Leaderboard</h1>

 <table id=leaderboard>
  <tr>
    <th></th>
    <th>Parties jouées</th>
    <th>Score "Joueur"</th>
    <th>Score "Jeu"</th>
    <th>Score Général</th>
  </tr>
{% for t in teams %}
  <tr>
    <td><a href='{% url 'team' t.user.id %}'>{{t.user.username}}</a></td>
    <td>{{t.games_played}}</td>
    <td>{{t.score_player}}</td>
    <td>{{t.score_game}}</td>
    <td>{{t.score_full}}</td>
  </tr>
{% empty %}
<tr><td colspan=4>No teams...</td></tr>
{% endfor %}
</table>
{% endblock %}
