{% extends 'base.html' %}
{% load serv_utils %}
{% block content %}
<h1>Maps</h1>
<table class=wide>
    <tr>
        <th>ID</th>
        <th>Team</th>
        <th>Taille</th>
        <th>Stages</th>
        <th>Impossible ?</th>
    </tr>
    {% for m in object_list %}
    <tr>
        <td><a href = '/viewer#{% url 'show_map' m.id %}'>Map #{{m.id}}</a></td>
        <td><a href="{% url 'team' m.proposed_by.id %}">{{m.proposed_by|displayname}}</td>
        <td>{{m.size}}</td>
        <td>{{m.in_stage|join:', '}}</td>
        <td>{% if m.impossible %}Ah ah! Cheh.{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aucune carte</td>
    </tr>
    {% endfor %}
<table>
{% endblock %}
